<div class="item-details">
<div class="container ">
	<div class="row">
		<div class="col-sm-12 col-sm">
			<h1><%= @item.name %></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-sm">
			Condition:<br>
		</div>
			<%= @item.condition %>
	</div>
	<div class="row">
		<div class="col-sm-3 col-sm">
			Description:<br>
		</div>
		<div class="col-sm-9 col-sm">
			<%= @item.description %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-sm">
			<p>Auction ends: <%= @item.auction_end %></p>
		</div>
	</div>
		<br>
</div>
</div>
<div class="item-bidding">
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Bidding</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<p>
			<div class="error">
				<% if @error %>
				<%= @error %>
				<% end %>
			</div>
			Number of bidders: 		</div>
		<div class="col-sm-6">
			<%=@bid_count%>
		</div>
		</p>
	</div>

		<% if @duplicate_bid %>
		<div class="row">
			<div class="col-sm-6">
				<p>You have already bid on this item</p>
			</div>
			<div class="col-sm-6">
				<p>You bid $<%= @bid_validation.amount %> on <%= @bid_validation.created_at %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p>Thank you for your bid</p>
			</div>
		</div>
		<% elsif @successful_bid %>
		<div class="row">
			<div class="col-sm-6">
				<p>You bid $<%= @successful_bid.amount %></p>
			</div>
			<div class="col-sm-6">
				<p>Thank you for your bid.</p>
			</div>
		</div>
		<% else %>
		<div class="row">
			<div class="col-sm-6">
				Place a bid for this item:
			</div>
			<div class="col-sm-6">
				<form action="/item/bid/<%=@item.id%>" method="post">
					$ <input type="text" name="amount">
					<input class="btn-default" type="submit" value="Place Bid">
				</form>
			</div>
		</div>
		<% end %>
</div>
</div>

<br>
<div class="stripe-container">
  <label for="payment-form">
	<form action="/charge" method="post" id="payment-form">
	  <div class="form-row">
	    <label for="card-element">
	      Credit or debit card
	    </label>
	    <div id="card-element">
	      <!-- a Stripe Element will be inserted here. -->
	    </div>

	    <!-- Used to display Element errors -->
	    <div id="card-errors" role="alert"></div>
	  </div>

	  <button>Submit Payment</button>
	</form>
  </label>
</div>